{% include 'default/_form.html.twig' with {
    page_title: 'title.register'|trans,
    form: form,
    submit_label: 'action.register'|trans,
    extra_link: '<a href="' ~ path('app_login') ~ '">' ~ 'message.already_have_account'|trans ~ '</a>'
} %}
